.sidebar_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(40, 37, 37); 
    transition: background-color 0.5s; 
} 

.sidebar_container ul {
    text-align: center; 
    padding: 0;
    list-style: none;    
}

.sidebar_container ul li {
    color: #ffffff;
    font-size: 1.1em;}

.sidebar_container ul a {
    border-top: 1px solid rgb(182, 125, 39);
    padding: 1em;
    text-decoration: none;
    color: rgb(253, 128, 18);
    display: block;
    cursor: pointer;
    transition: transform 0.3s;    
}


.sidebar_container ul a:hover {
    border: 1px solid rgb(182, 125, 39);
    background-color: black;
    transform: scale(1);
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    margin-left: 95%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 50%;
    background-color: rgb(68, 57, 57);
   transform: translateX(-100%)
}


.icon_container .icon{
    color: red;
    font-size: 2em; 
    cursor: pointer;
}

.icon_container .icon:hover {
    color: #fff;
}

.closed_container .icon:hover {
    color: #fff
}



