
.card_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 1em; 
    padding: 1em;   
    min-width: 20%;
    height: auto;
    background-color: rgba(69, 64, 64, 0.1);
    border-left: 3px solid rgb(15, 161, 201);
    cursor: pointer;
}

.card_container:hover {
    background-color: rgba(69, 64, 64, 0.5 );
}

.card_container p {
    margin-bottom: 0.5em;
}

.gray {
    margin-bottom: 0.5em;
    color: #7b7b7b;
}

.green{
    color: rgb(84, 174, 91) ;
}

.checkbox_container{ 
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100%;
    cursor: pointer;
}  

.checkbox_ok{
    border-left: 3px solid rgb(15, 201, 31);
} 

.checkbox_ok p{
    color: rgb(84, 174, 91) ;
}

.switch_container {
    position: relative;
    border: 1px solid red;
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.switch_container p{
    color: #7b7b7b;
}

.switch_container .p{
    color: rgb(84, 174, 91) ;
}

.canceled {
    border-left: 3px solid red;
    background-color:rgba(62, 22, 22, 0.5);
}

.canceled:hover {
    background-color:rgba(62, 22, 22, 0.8);
}

   