
.card_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 1em; 
    padding: 1em;   
    min-width: 200px;
    height: auto;
    background-color: rgba(69, 64, 64, 0.1);
    border-left: 3px solid rgb(15, 161, 201);
}

.card_container:hover {
    background-color: rgba(69, 64, 64, 0.5 );
}


.card_container p {
    margin-bottom: 0.5em;
    color: rgb(139, 157, 162);
}

.card_container h3 {
    padding-bottom: 1em;
    text-align: center;
    color: rgb(170, 225, 240);
    /* color: rgb(255, 155, 0); */
}

.gray {
    margin-bottom: 0.5em;
    color: #7b7b7b;
}

/* .green{
    color: rgb(170, 229, 175) ;
} */

.checkbox_container{ 
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100%;
    /* cursor: pointer; */
}  

.confirm{
    /* border-left: 3px solid rgb(15, 201, 31); */
    border-left: 3px solid rgb(97, 248, 110);
    /* cursor: pointer; */
} 

.confirm p{
    /* color: rgb(84, 174, 91) ; */
    color: rgb(133, 175, 137) ;
}

.confirm h3{
    color: rgb(153, 236, 160) ;
}

/* .switch_container {
    position: relative;
    border: 1px solid red;
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.switch_container p{
    color: #7b7b7b;
}

.switch_container .p{
    color: rgb(84, 174, 91) ;
} */

.canceled {
    border-left: 3px solid rgb(251, 121, 121);
    /* background-color:rgba(62, 22, 22, 0.5); */
}

.canceled p{
    color: rgb(181, 111, 111);
}

.canceled:hover {
    background-color: rgba(69, 64, 64, 0.5 );
}

.canceled h3 {
    color: rgb(255, 142, 142)
}
   