.form_container{
    width: 20%;
    margin: 2em 0;
}

.alert {  
    margin: 0; 
    padding: 0;
    right:-318px;
    position: absolute;
    margin: 1em 1em;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%    
}

.card_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 70%;
    top: 0;
    transform: translateX(200%);
    margin-top: 3em;
    padding: 0;
    transition: transform 0.9s ease-in-out;
   
}

.open {
    transform: translateX(87%);
    transition: transform 0.9s ease-in-out
}
