.card_container {
position: relative;
display: flex;
align-items: center;
flex-direction: column;
font-size: 0.9vw;
width: 100%;
height: 100%;
border: 1px solid rgb(182, 125, 39);
border-radius: 5px;
overflow: hidden;
box-sizing: border-box;
}


.card_container h2 {
    text-align: center;
    margin-bottom: 0.5em;
    background-color: rgb(253, 128, 18);
    color: #fff;
    display: block;
    width: 100%;
}

.card_container p {
    margin-bottom: .5em;
    color: #fff;
}

.card_container span {
    font-size: 1.2em;
    color: rgb(253, 128, 18);
}

.list{   
    width: 100%;
    padding-bottom: 0.5em;
}
.list ul{
    padding-left: 1em;
   list-style: none;
   font-size: 1vw;
   font-weight: 500;
}

.list li p {
    font-weight: bold;
}

.button_icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.icon_float {   
    position: absolute;
    right: 2%;
    top: 15%;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .2em;
    background-color: #1bcd15;
    color: #fff;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    font-size: 2em;
}

.button_fatrash {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.fatrash_container {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 50%;  
    color: #fff;    
}

.fatrash_container .icons{
    color: #fff;
    width: 20%;
    font-size: 2em;
    background-color: black;
    cursor: pointer;
    margin-top: 1em;
}

.fatrash_container .icons:hover{
    transform: scale(1.1);
    color: red;
}

