
.informs_container {
    position: absolute;
    color: #7b7b7b;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 80%;
    padding-top: 2em;
    border-left: 5px solid rgb(253, 128, 18);
    margin-top: 4em;
    right: 67%;
}

.informs_container h3{
    padding-bottom: 2em;
}

.informs_container p {
    padding-left: 1.5em;
    line-height:  1.5;
    width: 80%;
}
