
__pycache__/
*.pyc
*.pyo
*.so


venv/
*.venv
.env


db.sqlite3
*.sqlite3


*.log
*.tmp
*.bak


*.swp
*.swo
*.~*



node_modules/
npm-debug.log
yarn-error.log


frontend/build/


frontend/.env


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db
