.btn{
    margin-top: 0.5em;
    padding: .7em 9.5em;
    background-color: rgb(253, 128, 18);   
    color: #FFF;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #FFF;
    color:  rgb(253, 128, 18);
}