.home { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em; 
    width: 1200px;
    height: 70vh;
}

.home span{
    color: rgb(7, 60, 220);
}   

.home p{
    padding: 1em;
    color: rgb(98, 93, 93);
}

.img_container {
    padding: 2em;
    display:flex;
    justify-content: space-between;
    width:100%;
    height: auto;
  
}
.img {

    width: 400px;
    border: 5px solid #fff;
    transition: transform 0.3s ;
}

.img:hover {
    transform: scale(1.1);
}

 
