.schedings_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.schedings_container h2 {
    color: rgb(255, 155, 0);
    font-size: 2em;
    
}

.list_schedings {
    position: relative;
    display: flex;
    width: 90%;
    height: 30%;
    margin-top: 4em;
    padding: 1em;
    border-top: 1px solid rgb(182, 125, 39);    
    border-left: 5px solid  rgb(253, 128, 18);
}

.list_schedings p{
    color: #fff;
}

.date {
    position: absolute;
    bottom: 110%;
    left: 0;
}

.date p{
    color: rgb(255, 155, 0);
}

