.container{
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0;
}

.content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.border-top {
    border-top: 1px solid rgb(178, 178, 249);    
}

.min-height{
    min-height: 75%;
}