.container {
color: rgb(178, 178, 249);
}

.navibar {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    border: rgb(178, 178, 249);
    
} 
    .navibar ul {
    display: flex;
    list-style: none;
     
}

.navibar ul li {
    font-size: 1.2em;
    margin-right: 5rem;
   
}

.navibar ul a{
    text-decoration: none;
    color: rgb(98, 93, 93);
}    



.navibar ul a:hover {
    
    color: #ffff;
    background-color: rgb(98, 98, 93);
    border-radius: 10%;

}



