* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif; /* Open Sans -fonte retirada do google */   
}

html,
body,
#root {
  background-color: #000000;

  height: 100%;
}