.container{
    position: relative;
    padding: 0;
    display: flex;
    width: 100%; 
    margin: auto;   
}

.content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.border-top {
    border-top: 1px solid rgb(182, 125, 39);    
}

.min-height{
    min-height: 75%;
}