.message {
    
    text-align: center;    
}

.success {
    padding: 1em;
    color: #155724;
    background-color: #D4EDDA;
    border-color: #c3e6c6;
}

.error {
    padding: 1em;
    color: #721c24;
    background-color:#f8d7da;
    border-color: #f5c6cb;
}
