.navibar_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:12%;
    padding: 0; 
    border-bottom: 1px solid rgb(182, 125, 39);  
}


.navibar {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;    
} 

.navibar ul {
    display: flex;
    list-style: none;     
}

.navibar ul li {
    font-size: 1.2em;
    margin-right: 5rem;
   
}
.navibar ul a{
    text-decoration: none;
    color: rgb(253, 128, 18);
    padding: 0.5em;
    transition: transform 0.5s;
} 

.navibar ul a:hover {    
    border: 1px solid rgb(182, 125, 39);
    border-radius: 2em;
} 

.menu {
    position: absolute;
    color: rgb(253, 128, 18);
    left: 2% ;
    font-size: 2.5em;
    transition:  transform 0.5s;
    cursor: pointer;
}
.menu:hover {
    color: #fff;
}

.sidebar_moble {
    position:absolute;
    left: 0;
    margin-bottom: 0;
    width: 12%;
    height: 70vh;
    padding: 0;
    top: 100%; 
    transform: translateX(-100%);
    transition: transform 0.5s  ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1      
   
}

.open {
   visibility: visible;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;

}
     

