.container_switch {
    width: 100px;
    height: 100px;
}
.container_switch p{
    
    position: absolute;
    color: #766b6b;
    left: 70%;
    top: -5px;     
}

.container_switch .green {

    color: rgb(97, 248, 110); 
    font-size: 17px;
    

} 

.container_switch .red {
    color:  rgb(255, 69, 69);
    font-size: 17px;
    top: -35px;
}

.container_switch input{
    position: absolute;
    visibility: hidden;  
}


.container_switch span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 2em; 
    height: 12px;
    border-radius: 15px;
    background-color: #766b6b;
    cursor: pointer;
}

.p_absolut_confirm {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 25% ;
}

.p_absolut_canceld {
    display: inline-block;
    position: absolute;
    top:-30px;
    left: 25% ;
}

.container_switch span::before {
    content: '';
    position: absolute;
    background-color: #fff;
    border: 3px solid #766b6b;
    width: 13px;
    height: 13px;
    transform: translateX(0);
    top: -2px;
    border-radius: 50%;
    transition: .4s;
}

.confirm{
    z-index: 1;
} 
.confirm span{
    background-color: rgb(97, 248, 110);
   
}

.confirm span::before{
    transform: translateX(100%);
    border: 3px solid rgb(75, 182, 84);
    
}

.position_confirm {
    top: 7%;
}     


.confirm input span:before{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: -4px ;
    transform: translateX(19px);
    
}

.canceled span {
    background-color: rgb(247, 110, 110);
    top: -27px;
    
    
}

.canceled span::before {
    border: 3px solid rgb(227, 54, 54);
    transform: translateX(100%);
}




