.container {
width: 100%;
height: 500px;
}

.list_schedings {
    position: relative;
    display: flex;
    width: 85%;
    height: 45%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border-top: 1px solid rgb(164, 118, 50);    
    border-left: 5px solid  rgb(253, 128, 18);
 
}
.list_schedings p{
    color: #fff;
}
.date {
    position: absolute;
    bottom: 100%;
    left: 0;
}

.date p{
    color: rgb(255, 155, 0);
}

.card_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 1em; 
    padding: 1em;
    width: 300px;   
    min-width: 300px;
    height: 205px;
    background-color: rgba(69, 64, 64, 0.3);
    border-left: 3px solid rgb(15, 161, 201);

}

.card_container:hover {
    background-color: rgba(69, 64, 64, 0.5 );
}

.card_container p {
    margin-bottom: 0.5em;
    color: rgb(139, 157, 162);
}

.card_container h3 {
    padding-bottom: 1em;
    text-align: center;
    color: rgb(170, 225, 240);
}

.gray {
    margin-bottom: 0.5em;
    color: #7b7b7b;
}


.checkbox_container{ 
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100%;
}  

.confirm{
    border-left: 3px solid rgb(97, 248, 110);
    
} 

.confirm p{
    color: rgb(133, 175, 137) ;
}

.confirm h3{
    color: rgb(153, 236, 160) ;
}

.canceled {
    border-left: 3px solid rgb(251, 121, 121);
}

.canceled p{
    color: rgb(181, 111, 111);
}

.canceled:hover {
    background-color: rgba(69, 64, 64, 0.5 );
}

.canceled h3 {
    color: rgb(255, 142, 142)
}

.position_confirm {
    top: 75%;   
    left: 5%;
    position: absolute;
}

.position_canceled {
    top: 88%;   
    left: 5%;
    position: absolute;
}

.none{
    display: none;
}