.projectLogo_container { 
display: flex;
margin: 1em 0 1.5em;
height: 4em;
}

.projectLogo_container h1 {
    color: #fff;
}

.projectLogo_container span{
    color: rgb(255, 155, 0);
}   

.projectLogo_container h1 {
    font-size: 3em;
}

.margin_0 {
    margin: 0;
}

